//
// footer
//------------------------------------------------------------------------

.footer {
  background: #3b5976;
  padding: 63px 0 75px;
  width: 100%;
  position: relative;

  &.row {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  &_info {
    float: left;
    width: 791px;
    padding-left: 25px;
    .logo_foo {
      width: 268px;
      font-size: 0;
    }
    p {
      font-size: 14px;
      line-height: 21px;
      font-weight: bold;
      color: #fff;
      margin: 25px 0 24px;
      span {
        display: block;
        margin-bottom: 7px;
      }
    }
    small {
      font-size: 14px;
      color: #fff;
      display: block;
    }
  }
  &_nav {
    margin-left: 791px;
    ul {
      &::after {
        content: "";
        display: table;
        clear: both;
      }
      li {
        float: left;
        padding: 0 15px 0 15px;
        border-right: 1px solid #fff;
        a {
          text-decoration: none;
          color: #000;
          font-size: 15px;
          font-family: $font-web;
          line-height: 1;
          color: #fff;
          display: block;
          transition: all 0.3s ease;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
