//
// header
//------------------------------------------------------------------------
@charset "utf-8";
.header {
  &_main {
    &:after {
      content:"";
      display: block;
      clear: both;
    }
    .logo {
      float: left;
      font-size: 0;
      width: 155px;
      padding: 40px 0 36px 23px;
      a {
        display: block;
      }
      img {
        width: 100%;
      }
    }
    .nav_01 {
      float: right;
      padding: 54px 80px 0 0;
      ul {
        display: flex;
        margin: 0 -30px 0 -30px;
        li {
          padding: 0 30px 0 30px;
          a {
            color: #000;
            font-size: 15px;
            transition: all 0.3s ease;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
  &_top {
    border-bottom: 2px solid #000;
  }
  .nav_02 {
    ul {
      display: flex;
      li {
        padding: 28px 0 59px;
        position: relative;
        &:before {
          content: "";
          display: block;
          background: $navy;
          height: 6px;
          position: absolute;
          right: 100%;
          left: 0;
          top: 0;
          transition-property: right;
          transition-duration: 0.5s;
          transition-timing-function: ease-out;
        }
        &:hover::before {
          right: 0;
          opacity: 0.8;
        }
        a {
          padding: 8px 30px 8px 23px;
          display: block;
          position: relative;
          font-size: 15px;
          font-weight: bold;
          color: #000;
          &::before {
            content: "";
            position: absolute;
            display: block;
            top: 15px;
            left: 0;
            width: 7px;
            height: 7px;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
